h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px; text-align: center; color: aquamarine; background-color: brown; padding: 50px;}

    p{font-size: 25px;}

    marquee behavior{color:rgb(210, 30, 210);font-size: 50px;}